.App {
  text-align: center;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}

.App-logo-dark {
  height: 8vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.w-100{
  width:100%;
  margin:0px!important;
  padding:0px!important;
}

.h-100{
  height:100%;
  margin:0px;
  padding:0px;
}

.bold{
  font-weight:bold;
}

.flex-around{
  display:flex;
  justify-content: space-around;
}

.flex-between{
  display:flex;
  justify-content: space-between;
}

.flex-end{
  width:100%;
  display:flex;
  justify-content: flex-end;
}

.leftSection{
  float:left!important;
}

.rightSection{
  float:right!important;
}
/* ************************ */

.nav-container{
  display:contents;
  position:relative;
  color:black;
  align-items: center;
  margin:0px; padding:1.5rem;
}

.navbarDark_nav{
  width:100%;
  display:grid!important;
  grid-template-columns:20% 80%;
  position:relative;
}

/*make this toggle @window width less than 672px*/
.navLinks{
  margin:0px 15px 0px 0px;
  color:black!important;
  padding:0px!important;
}

.nav-icons{
  width:22px;
  margin:0px 8px 0px 8px;
}

.side-icon{
  margin:0px 0px 0px 0px!important;
}

.nl-dark{
  margin:0px 0px 0px 0px;
  font-weight: bold;
  color:gray!important;
}

.nl-dark:hover{
  background-color:gray;
  color:white!important;
}

.nav-logo-font{
  font-weight: bold;
  font-size: 3.5vh;
  margin:14px;
}

.purple_txt{
  color:#685BDF!important;
}

.purple_background{
  background-color:#685BDF;
}

.navbarBrand{
  width:100%;
  background-color:#454345;
  position:relative;
  display:flex!important;
  align-self: center;
  justify-content:center!important;
}

.nav-logo-dark{
  width:80px;
  height:80px;
  border-radius:50%;
  display:flex;
  justify-content: center;
  align-items: center;
  margin:30px 0px 30px 0px;
}

.nav-login{
  border:2px solid #685BDF;
  border-radius:5px;
  height:40px;
  width:50px;
  padding:3px 10px;
  margin:0px;
}

.login-form{
  display:block;
  position:relative;
  height:100%;
  background-color: red;
}

.home-container-top{
  width:100%;
  height:100%;
  position:relative;
  display: contents;
}

.home-container{
  background-color: inherit;
  min-height: 60vh;
  width:100%;
  margin:40px 0px;
  padding:0px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns:60% 40%;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
}

.home-text-container{
  flex:1;
}

.home-text{
  font-weight: bold;
  font-size: 9vh;
  margin:3vh 0px 20px 50px;
}

.homebtn-getstarted-container{
  display:flex; position: relative;
  margin:0px 0px 0px 40px;
  text-align: center;
}

.homebtn-getstarted{
  box-shadow:;
  font-size:20px!important;
  width:200px;
}

.title{
  font-weight: bold;
  font-size:4vh;
  text-align: center;
  margin:25px;
  align-items: center;
}

.centered{
  display:contents;
  justify-content: center!important;
  align-items:center;
  align-self: center;
  align-content: center;
}

#create-account-form{
  display:flex;
  grid-template-columns: 100%;
  justify-content:center!important;
}

.createAccount{
  width:70%!important;
  display:grid;
  grid-template-columns:40% 40%;
  grid-gap:40px;
}

.createAccount_input{
  height:40px; width:100%;
  border:1px solid #685BDF;
  border-radius:5px;
  display:flex;
}

.start-form-label{
  width:100%;
  margin:13px 0px 3px 0px;
}

.createAccount_textarea{
  height:120px;
}

/* Buttons styles*/
.bat_btn_general{
  background-color:#685BDF!important;
  border-radius:10px!important;
  color:white!important;
  font-weight: bold;
  margin:10px 0px -10px 0px;
}

.btn_back{
  display:flex;
  width:75px;
}

.gray{
  background-color: #6E757C!important;
}

.btn_next{
  display:flex;
  width:75px;
}

.bat_btn_options{
  width:auto;
  display:flex;
  margin:5px;
  background-color:inherit!important;
  color:black!important;
  border-radius: 10px!important;
  border:1px solid black!important;
}
/* ************************ */

.listGroupItem_span{
  display:grid;
  grid-template-columns:20% 76%;
  grid-gap: 7px;
  padding:auto;
  margin:auto;
  justify-content: space-around;
}

.welcome{
  display:block;
  position:relative;
  background-color:inherit;
}

.welcome-container{
  display:block;
  width:80%;
  position:relative;
  margin:0px 10% 20px 10%;
  padding:0px;
  align-items: center;
}

.welcome-headerText{
  display:contents;
  font-size-adjust: auto;
  padding:0px 0px 20px 20px;
  margin:20px 0px 20px 0px;
}

.small{
  margin:20px 0px 30px 0px!important;
}

.span_links{
  height:50%;
  align-items:center;
}

.welcome-dashboard{
  display:grid;
  grid-gap:5px;
  grid-template-columns:repeat(2, 30%);
  padding:50px; margin:0px 10% 0px 10%;
  background-color: #DBD8F6;
  border-radius: 30px;
  justify-content: center;
}

.mg{
  margin:30px 0px;
}

.sidebar{
  background-color: #454345!important;
  max-width:100%!important;
  height:100%;
  display:block;
  position:relative;
  margin:0px;
  padding:0px;
}

.sidebar_list{
  margin:0px;
  padding:0px;
  color:lightgray;
  background-color: inherit!important;
  border:none!important;
}

.solid{
   width:100%;
  border:0.3px solid gray;
  float:left;
  padding:0px; margin:0px;
}

.welcome-side-nav{
  width:100%;
  display:grid;
  grid-template-columns:20% 80%;
  position:relative;
  justify-content:space-around;
}

.sidebar_footer{
  display:list-item!important;
  list-style: none;
  position:relative;
  justify-content: space-between!important;
  color:pink;
  margin:0px; padding:0px;
  overflow:  scroll;
}

/* Mission Page css*/
.missionContainer{
  width:100%;
  margin:20px;
  text-align:center;
}

.imageMission{
  width:35%;
  margin:30px 0px;
}

.missionStyle{
  font-size:1.5rem;
  margin:50px 0px 1rem 0px;
  text-align:left;
}
/* ******************************* */

.footerContainer{
  background-color: inherit;
  width:100%; color:#454345;
  min-height:12vw;

}
@media (min-width:900px) {
  .home-image-container {
    width:30%;
  }
}
